<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit   
  http://go.microsoft.com/fwlink/?LinkId=169433  
  --> 

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="webPages:Enabled" value="false" /> 

    <!-- Auth config --> 
    <add key="oauth.RedirectUrl" value="http://localhost:56000/"/>
    <!-- Should match with OAuth2's App Callback URL -->
    <add key="oauth.CallbackUrl" value="http://localhost:56000/auth/{0}"/>
    <!-- Create Twitter App at: https://dev.twitter.com/apps -->
    <add key="oauth.twitter.ConsumerKey" value="GAleEX4lABzUEN7qWv3YwH9SS"/>
    <add key="oauth.twitter.ConsumerSecret" value="eA3TNjCtZ3uowyzCFE141YrwUPRqksAnwbfXJYIY7BwmzWmMmz"/>
    <!-- Create Facebook App at: https://developers.facebook.com/apps -->
    <add key="oauth.facebook.Permissions" value="email,read_stream,offline_access"/>
    <add key="oauth.facebook.AppId" value="1437339733178240"/>
    <add key="oauth.facebook.AppSecret" value="c043dce74f9cf74a61e36d8504768bbb"/>
    <!-- Create Google App at: https://code.google.com/apis/console/ -->
    <add key="oauth.GoogleOAuth.ConsumerKey" value="561116567694.apps.googleusercontent.com"/>
    <add key="oauth.GoogleOAuth.ConsumerSecret" value="upFXIea3T4gXYBbHzaGSWekg"/>
    <!-- Create LinkedIn App at: https://www.linkedin.com/secure/developer?newapp= -->
    <add key="oauth.LinkedIn.ConsumerKey" value="ck8n5g2fxd6o"/>
    <add key="oauth.LinkedIn.ConsumerSecret" value="Mpy9Pl4uTnRrSee8"/>
  </appSettings>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>

  <system.web>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <!-- IIS6 mapping required for Mono -->
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
  </system.web>

  <system.web.webPages.razor>
    <pages pageBaseType="ServiceStack.Razor.ViewPage">
      <namespaces>
        <add namespace="ServiceStack" />
        <add namespace="ServiceStack.Html" />
        <add namespace="ServiceStack.Razor" />
        <add namespace="ServiceStack.Text" />
        <add namespace="ServiceStack.OrmLite" />
        <add namespace="ResultsView" />
        <add namespace="ResultsView.ServiceInterface" />
        <add namespace="ResultsView.ServiceModel" />
        <add namespace="ResultsView.ServiceModel.Types" />
      </namespaces>
    </pages>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc" />
  </system.web.webPages.razor>

</configuration>